/* CONFIGUAÇÃO PADRÃO DA PÁGINA */
body {
	font-family: Verdana, Arial, Sans-Serif;
}

* {
margin: 0px;
padding: 0px;
border: 0px;
list-style:none;
vertical-align: baseline;
}

#idCorpoConteiner {
	padding-left: 0px;
	background-color: #CCCCCC;
}

/* CONFIGUAÇÕES DE CABEÇALHO DA PÁGINA */
#idCabecalho {
	height: 100px;
	background-color: #EEEEEE;
}

#cabecalho-left img{
	width: 200px;
	height: 90px;	
}

#cabecalho-right p{
	margin-top: 35px;
    text-align: center;
	color: #000000;
	letter-spacing: 3px;	
}

/* CONFIGUAÇÃO DOS IDS DO CORPO DA PÁGINA */
#idCorpo {
	padding-bottom: 50px;
}

#idBarraLado {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #CCCCCC;
}

#idConteudo {
	background-color: #FFFFFF;
}

/* CLASSE DINAMICA PARA FIXAR A BARRA LATERAL - ALTERANADA VIA JAVA SCRIPT */
.nav-positon-on {
	margin-top: 52px;
}


/* CONFIGURAÇÃO DA BARRA HORIZONTAL FIXA */
#idbarra {
	z-index: 99;
}

/* CONFIGURAÇÃO PARA FIXAR AA BARRA HORIZONTAL */
.navbar {
	margin:0;
	padding:0;
}

.affix {
    top: 0px;
    width: 100%;
}

/* CLASSE DE TAMANHO DOS ICONES DA BARRA*/
.icones {
	font-size: 20px;
	color: #FFFFFF;
}

/* CLASSES DE BARRA LATERAL*/
.btnBarLateral {
	padding-left: 10px;
	text-align: left;
	display: block;
}

.btnBarLateral a{
	background-color: #CCCCCC;
	letter-spacing: 3px;
	font-size: 15px;
	font-family: Calibri;
	color: #FFFFFF;
	font-weight: bold;
}

.btnBarLateral a:hover {
	letter-spacing: 3px;
	background-color: #f2f2f2;
	font-size: 15px;
	font-family: Calibri;
	color: #000000;
	font-weight: bold;
}

.btnBarLateral a:hover {
	letter-spacing: 3px;
	background-color: #f2f2f2;
	font-size: 15px;
	font-family: Calibri;
	color: #000000;
	font-weight: bold;
}

.btnBarLateral a:active {
	letter-spacing: 3px;
	background-color: #4db8ff;
	font-size: 15px;
	font-family: Calibri;
	color: #000000;
	font-weight: bold;
}

/* CLASSES DA PAGINA DE ABENDS */
.page-header {
	font-family: Courier New;
	text-align: center;
    text-transform: uppercase;
	font-weight: bold;
}

.dvAbend {
	padding-top: 105px;
}

.txtAbend {
	color: #000000;
	font-family: Calibri;
	font-size: 18px;
	line-height: 100%;
}

.upclass {
	text-align: right;
	line-height: 100%;
	font-size: 18px;
}

.liAbenda {
	color: #000000;
	font-family: Calibri;
	font-size: 18px;
	line-height: 100%;
}

/* CSS RODAPÉ */
#idRodape {
	position: fixed;
	height: 50px;
	padding-top: 20px;
	bottom: 0px;
	width: 100%;
	background-color: #000000;
}

#idRodape p {
    text-align: center;
	color: #FFFFFF;
	letter-spacing: 3px;
	font-size: 12px;
}